<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
<div class="col-md-8">
  <h3>Products Details:- </h3><br>
    <table class="table table-striped" id="productTable">
    <tr>
      <th>user name</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Price</th>
    </tr>

    {% for product in p %}
    <tr class="product-{{product.id}}" >
      <td>{{product.user}}</td>
      <td class="productName productData" name="name" id="product-{{product.id}}-name">{{product.name}}</td>
      <td class="productDescription productata" name="description" id="product-{{product.id}}-description" >{{product.description|truncatewords:30|linebreaks}}</td>
      <td class="productPrice productData" name="price" id="product-{{product.id}}-price">{{product.price}}</td>

        {% if request.user.role == "admin" %}
        <td align="center">
            <button class="btn btn-warning form-control" onClick="editProduct({{product.id}})" data-toggle="modal" data-target="#myModal">EDIT</button>
        </td>
          <td>
                <button class="btn btn-warning form-control" onClick="deleteUser({{product.id}})">DELETE</button>
            </td>
          {% endif %}
    </tr>
  {% endfor %}
</tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">Update</h4>
  </div>
  <form id="updateProduct" method="post" >
      {% csrf_token %}
      <input type="hidden" name="id" value="">
      <div id="updateProductContainer">

      </div>
      <button type="submit">SUBMIT</button>
  </form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

       <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
       <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
       <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script type="text/javascript">

$("form#updateProduct").submit(function() {
  var csrfInput = $('input[name="csrfmiddlewaretoken"]').val();
  var idInput = $('input[name="id"]').val().trim();
  var nameInput = $('input[name="name"]').val().trim();
  var descriptionInput = $('textarea[name="description"]').val().trim();
  var priceInput = $('input[name="price"]').val().trim();
  if (nameInput && descriptionInput && priceInput) {
    // Create Ajax Call
    $.ajax({
    headers: { "X-CSRFToken": csrfInput },
    url: 'update/'+idInput+'/',
    type: "post",
    data: {
        'id': idInput,
        'name': nameInput,
        'description': descriptionInput,
        'price': priceInput
    },
    dataType: 'json',
    success: function (data) {
      $("#product-"+idInput+"-name").html(nameInput);
      $("#product-"+idInput+"-description").html(descriptionInput);
      $("#product-"+idInput+"-price").html(priceInput);
      }
});
  } else {
    alert("All fields must have a valid value.");
}
$('form#updateProduct').trigger("reset");
$('#myModal').modal('hide');
return false;
});

// Update Django Ajax Call
function editProduct(id) {
$("input[name=id]").val(id)
if (id) {
$.ajax({
method: "get",
url: 'update/'+id,
success: function(data) {
  htm = $.parseHTML(data.form);
  $('#updateProductContainer').html(htm)
}
})
}
}
function updateToProductTable(product){
    $(".product-" + product.id).children(".productData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(product.name);
        } else if (attr == "description") {
          $(this).text(product.description);
        } else {
          $(this).text(product.price);
        }
      });
}

</script>

<script type="text/javascript">

function deleteUser(id)
{
  var action = confirm("Are you sure you want to delete this user?");
  if (action != false)
  {
    $.ajax(
    {
      url: {% url "crud_ajax_delete" %},
      data:
      {
        'id': id,
      },
      dataType: 'json',
      success: function (data)
      {
        $(".product-" + id).remove();
      }
    }
    );
  }
}
</script>
  </body>
</html>
